* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background-image: url('../img/Shiny Overlay.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.startMenu {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.main-heading-start-section {
    font-size: 5rem;
    margin-bottom: 20px;
}

.menuBtn {
    margin-top: 20px;
    font-size: 2rem;
    padding: 15px 50px;
    font-weight: bold;
    border: none;
    background-color: rgb(0, 136, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.anchor-tag-menu {
    text-decoration: none;
}

.menuBtn:hover {
    background-color: rgba(0, 136, 255, 0.7);
}

.game-container {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#myValue {
    font-size: 2rem;
    width: 80%;
    outline-width: 0;
    max-width: 400px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(0, 136, 255);
    margin-right: 5px;
    color: rgb(0, 136, 255) ;
}

#myValue:focus {
    outline-style: solid;
    outline-color: rgba(0, 136, 255, 0.7);
    outline-width: 3px;
    transition: outline-width 0.1s ease;
}

.myButtons {
    background-color: rgb(0, 136, 255);
    border: none;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.myButtons:hover {
    background-color: rgba(0, 136, 255, 0.7);
}

#result {
    margin-top: 20px;
    font-size: 2rem;
    min-height: 50px;
}

#cursor {
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }
}

.Exit {
    position: absolute;
    top: 0px;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    margin: 20px;
    background-color: rgb(0, 136, 255);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

.Exit a {
    text-decoration: none;
    color: white;
}

.Exit:hover {
    background-color: rgba(0, 136, 255, 0.7);
}

.about-exit {
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    margin-left: 20px;
    background-color: rgb(0, 136, 255);
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

.about-exit a {
    text-decoration: none;
    color: white;
}

.about-exit:hover {
    background-color: rgba(0, 136, 255, 0.7);
}

.about-section-main-heading {
    margin: 20px;
}

.about-page-div {
    margin: 20px;
}

.about-page-div li {
    margin: 10px 20px;
}

@media screen and (max-width: 768px) {
    .main-heading-start-section {
        font-size: 4rem;
    }

    .menuBtn {
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    #myValue {
        font-size: 1.5rem;
        width: 80%;
    }

    .myButtons {
        font-size: 1.5rem;
        padding: 5px 15px;
    }

    .Exit {
        font-size: 1.5rem;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 425px) {
    .main-heading-start-section {
        font-size: 3rem;
    }

    .menuBtn {
        font-size: 1.2rem;
        padding: 8px 15px;
    }

    #myValue {
        font-size: 1.2rem;
        width: 90%;
    }

    .myButtons {
        font-size: 1.2rem;
        padding: 5px 10px;
    }

    .Exit {
        font-size: 1.2rem;
        padding: 5px 10px;
    }
}