* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background-image: url('../img/Shiny\ Overlay.svg');
    background-repeat: no-repeat;
    background-size:cover;
}

.startMenu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-heading-start-section {
    font-size: 8rem;
}

.menuBtn {
    margin-top: 50px;
    font-size: 2.5rem;
    padding: 15px 100px;
    font-weight: bold;
    margin-left: 10px ;
    border: none;
    background-color: rgb(0, 136, 255);
    cursor: pointer;
    transition: background-color 0.5s;
}

.anchor-tag-menu {
    text-decoration: none;
}

.menuBtn:hover {
    background-color: rgba(0, 136, 255, 0.571);
}

#main {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#myValue {
    font-size: 2rem;
    width: 60%;
    color: black;
}

.myButtons {
    background-color:  rgb(0, 136, 255);
    border: none;
    font-size: 2rem;
    padding: 5px 15px;
}

.myButtons:hover {
    background-color: rgba(0, 136, 255, 0.571);
}

#result{
    margin-top: 25px;
    font-size: 2rem;
}

#cursor {
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

.Exit {
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    margin: 20px;
    background-color: rgb(0, 136, 255);
    transition: background-color 0.5s;
    cursor: pointer;
}

.Exit a{
    text-decoration: none;
}

.Exit:hover {
    background-color: rgba(0, 136, 255, 0.571);
}

.about-section-main-heading {
    margin: 20px;
}

.about-page-div {
    margin: 20px;
}

.about-page-div li {
    margin: 10px 20px
}

@media screen and (max-width: 425px) {
    .main-heading-start-section {
        font-size: 2rem;
    }
    .menuBtn {
        font-size: 1rem;
        padding: 10px 30px;
    }
    #myValue {
        font-size: 1.5rem;
        width: 40%;
    }
    .myButtons {
        font-size: 1.5rem;
        padding: 5px 15px;
    }
    .Exit {
        font-size: 1.5rem;
        padding: 5px 15px;
    }
}